@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #48687817;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.container-fluid {
  width: 100%;
}

.navbar {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 6px 0px 0px rgba(227, 218, 218, 0.33);
  padding: 30px 0 30px 0;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  width: 30%;
  padding: 0 0 0 50px;
}

.logo span {
  color: #00a6db;
}

a {
  text-decoration: none;
  color: #7e7c7c;

}

.navLinks {
  width: 40%;
}

.navLinks ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}

li {
  list-style-type: none;
  color: #7e7c7c;
  height: 30px;
}
.cross{
  background-color: transparent !important;
  padding: 0 !important;
}

.socialLinks {
  width: 30%;
}

.socialLinks ul {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding: 0 50px 0 0;
}

.socialLinks li {
  list-style-type: none;
}

.mobMenu {
  border: 0;
  position: absolute;
  right: 20px;
}

button {
  cursor: pointer;

}

.MobNavLinks {
  display: none;
}

.mobMenuItems {
  background-color: #fff;
  width: 50%;
  position: absolute;
  top: 70px;
  display: none;
  height: 90vh;
  padding: 10px;
}

.showMobNavItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.MobSocialLinks {
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
  justify-content: center;
  position: absolute;
  bottom: 70px;
  width: 100%;
}

/* media quries */

@media (max-width: 575.98px) {

  .logo {
    width: 60%;
  }

  .mobMenu {
    display: block;
  }

  .navLinks,
  .socialLinks {
    display: none;
  }

  .MobnavLinks ul {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  li:hover {
    background-color: rgb(207, 209, 208);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
  }

  .MobSocialLinks ul {
    display: flex;
    gap: 20px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .logo {
    width: 60%;
  }

  .mobMenu {
    display: block;
  }

  .navLinks,
  .socialLinks {
    display: none;
  }

  .MobnavLinks ul {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  li:hover {
    background-color: rgb(207, 209, 208);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
  }
  .MobSocialLinks ul {
    display: flex;
    gap: 20px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .mobMenu {
    display: block;
  }
  .navLinks,
  .socialLinks {
    display: none;
  }
  .MobNavLinks,
  .MobSocialLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
  } */

  .logo {
    width: 30%;
  }


  .mobMenu,
  .mobMenuItems,
  .MobSocialLinks {
    display: none;
  }

  .navLinks,
  .socialLinks {
    display: block;
  }

  li:hover {
    background-color: transparent;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    width: 30%;
  }

  .mobMenu,
  .mobMenuItems,
  .MobSocialLinks {
    display: none;
  }

  .navLinks,
  .socialLinks {
    display: block;
  }
  li:hover {
    background-color: transparent;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    width: 30%;
  }

  .mobMenu,
  .mobMenuItems,
  .MobSocialLinks {
    display: none;
  }

  .navLinks,
  .socialLinks {
    display: block;
  }
  li:hover {
    background-color: transparent;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

  .mobMenu,
  .MobNavLinks,
  .MobSocialLinks {
    display: none;
  }

  .navLinks,
  .socialLinks {
    display: block;
  }
  li:hover {
    background-color: transparent;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
  }
}